<%= form_for(@user, :html => { :multipart => true } ) do |f| %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

    <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <% if @user.avatar %>
      <%= image_tag @user.avatar.url(:medium) %>
    <% end %>
    <%= f.file_field :image %>
  </div>
  
  <div class="actions">
    <%= f.label :submit%>
    <%= f.submit :class => 'button save' %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>